/*Colors*/
$white: #fff;
$black: #000;
$black2: #282828;

$gray: #B5B5B5;
$gray2: #7880A7;
$gray3: #C4C4C4;

$ye: #FFB015;
$ye2: #A66E00;

$ye3: #F6BB43;

/*Styles*/
$font-family: 'IBM Plex Sans', sans-serif;
$font-family2: 'Merriweather', serif;